[draggable] {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.box {
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    background-color: #BED50F;
    border: 3px solid #003C88;
    border-radius: 15px;
    cursor: move;
    float: left;
    height: 100px;
    margin-right: 15px;
    text-align: center;
    width: 125px;
}

.box header {
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    background-color: #003C88;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    padding: 5px;
}